/* цвет фона наша команда #2F303A; */
/*цвет текста в боди #757575; */
/*хедер лого Web голубой #2196F3; */
/* хедер лого Web черный #000000; */
/* цвет в нав,портфолио,и внимание к деталям #212121; */
/* цвет контактов в навигации #757575; */
/* белый цвет #FFFFFF; */
/*фон героя #2F303A; */
/*кнопка в  #F5F4FA; */

:root {
  --background-dark-grey: #2f303a;
  --grey-color: #757575;
  --blue-logo-color: #2196f3;
  --dark-logo-color: #000000;
  --white-color: #ffffff;
  --current-color: #212121;
  --footer-primary-color: rgba(255, 255, 255, 0.6);
  --light-gray-backg: #f5f4fa;


  --card-set-gap: 30px; 
}
body {
  color: var(--grey-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  --card-gap: 30px;
  --card-item: 3;
  }
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .link {
    text-decoration: none;
    color: currentColor 
}
.active-page {
    color: var(--blue-logo-color);
}
.list {
    list-style: none;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

p {
  font-weight: 400;
  letter-spacing: 0.03em;
}
.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  outline: 1px solid var(--background-dark-grey);
}
.header-container {
    display: flex;
    align-items: center;
  }
  .header-contact .link:hover,
.header-contact .link:focus {
    color: var(--blue-logo-color);
}

/* logo */
.logo {
  color: var(--blue-logo-color);
  font-family: 'Raleway',cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.dark-logo {
  color: var(--dark-logo-color);
}

.white {
    color: var(--white-color);
}

.section {
    padding-top: 93px;
   }
   
.header .logo {
   margin-right: 93px;
}

.nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 50px;
}
.contact-list {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: auto;
  }
  
.nav-link,
.contact-link {
    display: flex;
  align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-link.list {
    color: var(--current-color);
}
.nav-link .link:hover,
.nav-link .link:focus {
    color: var(--blue-logo-color);
}



/* герой */

.hero {
    padding-top: 200px;
    padding-bottom: 280px;
    background-color: var(--background-dark-grey);
}
.hero-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    text-transform: uppercase;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
}

.hero-button {
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--blue-logo-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    font-family: inherit;
    text-align: center;
    align-items: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
/* Button */
.select-button {
    cursor: pointer;
    font-family: inherit;
    background-color: var(--light-gray-backg);
    color: var(--current-color);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 4px;

}
.select-button:hover,
.select-button:focus {
  background-color: var(--blue-logo-color);
  color: var(--white-color);
}

/* Контент и заголовки */
.benefits-tytle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--current-color);
}

.section-tytle {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--current-color);
}
.team {
    background-color: var(--light-gray-backg);
}
.team-tytle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--current-color);
}
.team-specialist {
    font-size: 16px;
  line-height: 1.2;
  text-align: center;
  
}

/* контент портфолио */
.portfolio-content {
font-size: 16px;
line-height: 1.88;

}
.portfolio-title {
color: var(--current-color);
font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/* футер */
.footer {
    background-color: var(--background-dark-grey);
}
.address {
    font-style: inherit;
}
.address-link {
    color: var(--footer-primary-color);
}
.street {
    color: var(--white-color);
}
.address .link:hover
.address .link:focus{
    color: var(--blue-logo-color);
}
 